In [1]:
import requests
import pandas as pd
import numpy as np

# Get the data

In [2]:
# fuction to get the data 


# Function to download a file from a URL and save it in the `data` folder
def download_file(url, local_filename):
    response = requests.get(url)
    if response.status_code == 200:
        with open(local_filename, 'wb') as file:
            file.write(response.content)
        print(f"Downloaded {local_filename}")
    else:
        print(f"Failed to download {local_filename}. Status code: {response.status_code}")

url_orders = 'https://raw.githubusercontent.com/Digital-IFCO/data-engineering-test/main/resources/orders.csv'
url_invoicing = 'https://raw.githubusercontent.com/Digital-IFCO/data-engineering-test/main/resources/invoicing_data.json'

# Download the files into the `data` folder
download_file(url_orders, '../data/orders.csv')
download_file(url_invoicing, '../data/invoicing_data.json')

Downloaded ../data/orders.csv
Downloaded ../data/invoicing_data.json

In [3]:

# Cargar el archivo orders.csv
orders = pd.read_csv('../data/orders.csv',delimiter=';')

# Verificar las primeras filas para revisar la estructura de los datos
orders.head()

,order_id,date,company_id,company_name,crate_type,contact_data,salesowners
0,f47ac10b-58cc-4372-a567-0e02b2c3d479,29.01.22,1e2b47e6-499e-41c6-91d3-09d12dddfbbd,Fresh Fruits Co,Plastic,"[{ ""contact_name"":""Curtis"", ""contact_surname"":...","Leonard Cohen, Luke Skywalker, Ammy Winehouse"
1,f47ac10b-58cc-4372-a567-0e02b2c3d480,21.02.22,0f05a8f1-2bdf-4be7-8c82-4c9b58f04898,Veggies Inc,Wood,"[{ ""contact_name"":""Maria"", ""contact_surname"":""...","Luke Skywalker, David Goliat, Leon Leonov"
2,f47ac10b-58cc-4372-a567-0e02b2c3d481,03.04.22,1e2b47e6-499e-41c6-91d3-09d12dddfbbd,Fresh Fruits c.o,Metal,"[{ ""contact_name"":""Para"", ""contact_surname"":""C...",Luke Skywalker
3,f47ac10b-58cc-4372-a567-0e02b2c3d482,14.07.21,1c4b0b50-1d5d-463a-b56e-1a6fd3aeb7d6,Seafood Supplier,Plastic,NaN,"David Goliat, Leonard Cohen"
4,f47ac10b-58cc-4372-a567-0e02b2c3d483,23.10.22,34538e39-cd2e-4641-8d24-3c94146e6f16,Meat Packers Ltd,Plastic,NaN,"Chris Pratt, David Henderson, Marianov Merschi..."

# Distribution of Crate Type per Company

In [4]:
import pandas as pd
import logging

# Configurar el logging para mostrar advertencias
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Cargar el archivo orders.csv con el delimitador adecuado
orders = pd.read_csv('../data/orders.csv', delimiter=';')

# Verificar y manejar valores faltantes en 'company_id' y 'crate_type'
if orders['company_id'].isnull().any():
    logging.warning("Some rows have missing 'company_id'. These rows will be excluded from the distribution calculation.")
    orders = orders.dropna(subset=['company_id'])  # Excluir filas sin 'company_id'

if orders['crate_type'].isnull().any():
    logging.warning("Some rows have missing 'crate_type'. These rows will be excluded from the distribution calculation.")
    orders = orders.dropna(subset=['crate_type'])  # Excluir filas sin 'crate_type'

# Verificar tipos de datos en 'company_id' y 'crate_type'
if not pd.api.types.is_string_dtype(orders['company_id']):
    logging.warning("'company_id' is not of string type. Converting to string.")
    orders['company_id'] = orders['company_id'].astype(str)

if not pd.api.types.is_string_dtype(orders['crate_type']):
    logging.warning("'crate_type' is not of string type. Converting to string.")
    orders['crate_type'] = orders['crate_type'].astype(str)

# Lista de valores permitidos en 'crate_type'
valid_crate_types = ["Plastic", "Wood", "Metal"]

# Verificar si 'crate_type' contiene valores fuera de los permitidos
invalid_crate_types = orders[~orders['crate_type'].isin(valid_crate_types)]
if not invalid_crate_types.empty:
    logging.warning(f"Some rows contain invalid crate types. These will be excluded from the calculation.\n{invalid_crate_types['crate_type'].unique()}")
    orders = orders[orders['crate_type'].isin(valid_crate_types)]

# Comprobación de duplicados en 'order_id'
if orders['order_id'].duplicated().any():
    logging.warning("Some rows contain duplicate 'order_id'. These rows may indicate duplicate orders.")

# Calcular la distribución de tipos de cajas por empresa después de las verificaciones
distribution = orders.groupby(['company_id', 'crate_type']).size().reset_index(name='order_count')

# Mostrar los primeros resultados para verificar el cálculo
distribution.head()

                             company_id crate_type  order_count
0  012f20c6-00d5-4f45-999f-12e7639db623    Plastic            1
1  063a7dc7-b93a-4f38-b7f0-0e30b5b217ac       Wood            1
2  0b8755d4-3d28-4039-b9a7-b30cb5ff02ea       Wood            1
3  0d09ae2b-d9a5-4d67-bb97-963be9379b4e    Plastic            1
4  0f05a8f1-2bdf-4be7-8c82-4c9b58f04898    Plastic            1

## task 2

In [5]:
import json

def get_full_name(contact_data):
    """Extracts full name from contact data or returns 'John Doe' if incomplete."""
    try:
        # Load the contact data as a JSON object
        contact_info = json.loads(contact_data)[0]  # Access the dictionary inside the list
        first_name = contact_info.get("contact_name", "").strip()
        last_name = contact_info.get("contact_surname", "").strip()
        
        # If either first or last name is missing, default to "John Doe"
        if not first_name or not last_name:
            return "John Doe"
        return f"{first_name} {last_name}"
    except (json.JSONDecodeError, IndexError, TypeError, KeyError):
        # In case of unexpected structure, default to "John Doe"
        return "John Doe"

In [6]:
import pandas as pd

# Load data
file_path = '../data/orders.csv'
orders_df = pd.read_csv(file_path, delimiter=';')

# Function to extract the full name
import json

def get_full_name(contact_data):
    """Extracts full name from contact data or returns 'John Doe' if incomplete."""
    try:
        # Load the contact data as a JSON object
        contact_info = json.loads(contact_data)[0]  # Access the dictionary inside the list
        first_name = contact_info.get("contact_name", "").strip()
        last_name = contact_info.get("contact_surname", "").strip()
        
        # If either first or last name is missing, default to "John Doe"
        if not first_name or not last_name:
            return "John Doe"
        return f"{first_name} {last_name}"
    except (json.JSONDecodeError, IndexError, TypeError, KeyError):
        # In case of unexpected structure, default to "John Doe"
        return "John Doe"

# Apply the function to create contact_full_name
orders_df['contact_full_name'] = orders_df['contact_data'].apply(get_full_name)

# Select relevant columns
contact_fullname_df = orders_df[['order_id', 'contact_full_name']]

# Display the resulting DataFrame
contact_fullname_df.head()

                               order_id contact_full_name
0  f47ac10b-58cc-4372-a567-0e02b2c3d479    Curtis Jackson
1  f47ac10b-58cc-4372-a567-0e02b2c3d480     Maria Theresa
2  f47ac10b-58cc-4372-a567-0e02b2c3d481      Para Cetamol
3  f47ac10b-58cc-4372-a567-0e02b2c3d482          John Doe
4  f47ac10b-58cc-4372-a567-0e02b2c3d483          John Doe

In [7]:
import pandas as pd
import json
import os
import logging
import re

# Configure logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

def load_orders(file_path, delimiter=';'):
    """Loads order data from a CSV file."""
    try:
        df = pd.read_csv(file_path, delimiter=delimiter)
        logging.info(f"Loaded {len(df)} rows from {file_path}")
        return df
    except FileNotFoundError:
        logging.error(f"Error: The file {file_path} was not found.")
        return pd.DataFrame()

def fix_contact_data_format(contact_data):
    """Attempts to fix known format issues in contact_data strings."""
    if pd.isna(contact_data):
        return None
    # Ensure JSON-compatible format
    contact_data = re.sub(r'([{,])\s*([a-zA-Z_]+)\s*:', r'\1 "\2":', contact_data)
    contact_data = contact_data.replace("'", '"')
    if not contact_data.startswith('['):
        contact_data = f"[{contact_data}]"
    contact_data = re.sub(r'}\s*{', '},{', contact_data)
    logging.info(f"Formatted contact_data: {contact_data}")
    return contact_data

def get_full_name(contact_data):
    """Extracts full name from contact data or returns 'John Doe' if incomplete."""
    contact_data = fix_contact_data_format(contact_data)
    if contact_data is None:
        return "John Doe"
    try:
        contact_info = json.loads(contact_data)[0]
        first_name = contact_info.get("contact_name", "").strip()
        last_name = contact_info.get("contact_surname", "").strip()
        if not first_name or not last_name:
            return "John Doe"
        return f"{first_name} {last_name}"
    except (json.JSONDecodeError, IndexError, TypeError, KeyError) as e:
        logging.warning(f"Unexpected structure in contact data: {contact_data}. Error: {e}. Using 'John Doe'.")
        return "John Doe"

def create_contact_fullname_df(df):
    """Creates a DataFrame with order_id and contact_full_name."""
    if df.empty:
        logging.warning("The DataFrame is empty. No contact full names to process.")
        return pd.DataFrame(columns=['order_id', 'contact_full_name'])
    df['contact_full_name'] = df['contact_data'].apply(get_full_name)
    logging.info("Successfully created contact_full_name column.")
    return df[['order_id', 'contact_full_name']]

def save_contact_fullname_df(df, output_path):
    """Saves the contact full name DataFrame to a CSV file."""
    if df.empty:
        logging.warning("The DataFrame is empty. Nothing to save.")
        return
    absolute_path = os.path.abspath(output_path)
    logging.info(f"Saving DataFrame to {absolute_path}")
    os.makedirs(os.path.dirname(absolute_path), exist_ok=True)
    df.to_csv(absolute_path, index=False)
    logging.info(f"DataFrame successfully saved to {absolute_path}")
    if os.path.exists(absolute_path):
        logging.info(f"File {absolute_path} was created successfully.")
    else:
        logging.error(f"File {absolute_path} was not created.")

if __name__ == "__main__":
    # Print current working directory for diagnostics
    logging.info(f"Current working directory: {os.getcwd()}")
    # Load and process data
    orders_df = load_orders('../data/orders.csv')
    if not orders_df.empty:
        contact_fullname_df = create_contact_fullname_df(orders_df)
        save_contact_fullname_df(contact_fullname_df, '../output/contact_fullname.csv')
    else:
        logging.error("No data loaded. Exiting.")

2024-11-05 11:30:22,084 - INFO - Current working directory: /Users/pedro/Library/CloudStorage/Dropbox/PROYECTOS/others/data-engineering-test/notebooks
2024-11-05 11:30:22,086 - INFO - Loaded 62 rows from ../data/orders.csv
2024-11-05 11:30:22,087 - INFO - Formatted contact_data: [{ "contact_name":"Curtis", "contact_surname":"Jackson", "city":"Chicago", "cp": "12345"}]
2024-11-05 11:30:22,087 - INFO - Formatted contact_data: [{ "contact_name":"Maria", "contact_surname":"Theresa", "city":"Calcutta"}]
2024-11-05 11:30:22,088 - INFO - Formatted contact_data: [{ "contact_name":"Para", "contact_surname":"Cetamol", "city":"Frankfurt am Oder", "cp": 3934}]
2024-11-05 11:30:22,088 - INFO - Formatted contact_data: [{ "contact_name":"John", "contact_surname":"Krasinski", "city":"New York", "cp": "1203"}]
2024-11-05 11:30:22,088 - INFO - Formatted contact_data: [{ "contact_name":"Jennifer", "contact_surname":"Lopez", "city":"Esplugues de Llobregat"}]
2024-11-05 11:30:22,089 - INFO - Formatted contact_data: [{ "contact_name":"Liav", "contact_surname": "Ichenbaum", "city":"Tel Aviv"}]
2024-11-05 11:30:22,089 - INFO - Formatted contact_data: [{ "contact_name":"Curtis", "contact_surname":"Jackson", "city":"Chicago", "cp": "12345"}]
2024-11-05 11:30:22,089 - INFO - Formatted contact_data: [{ "contact_name":"Anthony", "contact_surname":"Pap", "city":"Barcelona", "cp": 8023}]
2024-11-05 11:30:22,090 - INFO - Formatted contact_data: [{ "contact_name":"Natalia", "contact_surname":"Romanov", "city":"Moscow", "cp": "65432"}]
2024-11-05 11:30:22,090 - INFO - Formatted contact_data: [{ "contact_name":"Bruce", "contact_surname":"Wayne", "city":"Gotham"}]
2024-11-05 11:30:22,090 - INFO - Formatted contact_data: [{ "contact_name":"Clark", "contact_surname":"Kent", "city":"Metropolis", "cp": "10001"}]
2024-11-05 11:30:22,090 - INFO - Formatted contact_data: [{ "contact_name":"Tony", "contact_surname":"Stark", "city":"New York"}]
2024-11-05 11:30:22,091 - INFO - Formatted contact_data: [{ "contact_name":"Diana", "contact_surname":"Prince", "city":"Themyscira", "cp": "45789"}]
2024-11-05 11:30:22,091 - INFO - Formatted contact_data: [{ "contact_name":"Peter", "contact_surname":"Parker", "city":"Queens", "cp": "11432"}]
2024-11-05 11:30:22,091 - INFO - Formatted contact_data: [{ "contact_name":"Steve", "contact_surname":"Rogers", "city":"Brooklyn", "cp": "11201"}]
2024-11-05 11:30:22,092 - INFO - Formatted contact_data: [{ "contact_name":"Natasha", "contact_surname":"Romanov", "city":"Moscow", "cp": "65432"}]
2024-11-05 11:30:22,092 - INFO - Formatted contact_data: [{ "contact_name":"Bruce", "contact_surname":"Banner", "city":"San Francisco", "cp": "94102"}]
2024-11-05 11:30:22,092 - INFO - Formatted contact_data: [{ "contact_name":"Selina", "contact_surname":"Kyle", "city":"Gotham"}]
2024-11-05 11:30:22,092 - INFO - Formatted contact_data: [{ "contact_name":"Barry", "contact_surname":"Allen", "city":"Central City", "cp": "56321"}]
2024-11-05 11:30:22,092 - INFO - Formatted contact_data: [{ "contact_name":"Clark", "contact_surname":"Kent", "city":"Metropolis"}]
2024-11-05 11:30:22,093 - INFO - Formatted contact_data: [{ "contact_name":"Diana", "contact_surname":"Prince", "city":"Themyscira", "cp": "45789"}]
2024-11-05 11:30:22,093 - INFO - Formatted contact_data: [{ "contact_name":"Bruce", "contact_surname":"Wayne", "city":"Gotham"}]
2024-11-05 11:30:22,093 - INFO - Formatted contact_data: [{ "contact_name":"Steve", "contact_surname":"Rogers", "city":"Brooklyn"}]
2024-11-05 11:30:22,094 - INFO - Formatted contact_data: [{ "contact_name":"Peter", "contact_surname":"Parker", "city":"Queens", "cp": "11432"}]
2024-11-05 11:30:22,094 - INFO - Formatted contact_data: [{ "contact_name":"Tony", "contact_surname":"Stark", "city":"New York"}]
2024-11-05 11:30:22,094 - INFO - Formatted contact_data: [{ "contact_name":"Natalia", "contact_surname":"Romanov", "city":"Moscow", "cp": "65432"}]
2024-11-05 11:30:22,094 - INFO - Formatted contact_data: [{ "contact_name":"Bruce", "contact_surname":"Banner", "city":"San Francisco", "cp": "94102"}]
2024-11-05 11:30:22,095 - INFO - Formatted contact_data: [{ "contact_name":"Curtis", "contact_surname":"Jackson", "city":"Chicago", "cp": "12345"}]
2024-11-05 11:30:22,095 - INFO - Formatted contact_data: [{ "contact_name":"Maria", "contact_surname":"Theresa", "city":"Calcutta"}]
2024-11-05 11:30:22,095 - INFO - Formatted contact_data: [{ "contact_name":"Diana", "contact_surname":"Prince", "city":"Themyscira", "cp": "45789"}]
2024-11-05 11:30:22,095 - INFO - Formatted contact_data: [{ "contact_name":"Bruce", "contact_surname":"Wayne", "city":"Gotham"}]
2024-11-05 11:30:22,096 - INFO - Formatted contact_data: [{ "contact_name":"Steve", "contact_surname":"Rogers", "city":"Brooklyn", "cp": "11201"}]
2024-11-05 11:30:22,096 - INFO - Formatted contact_data: [{ "contact_name":"Peter", "contact_surname":"Parker", "city":"Queens", "cp": "11432"}]
2024-11-05 11:30:22,096 - INFO - Formatted contact_data: [{ "contact_name":"Curtis", "contact_surname":"Jackson", "city":"Chicago", "cp": "12345"}]
2024-11-05 11:30:22,096 - INFO - Formatted contact_data: [{ "contact_name":"Maria", "contact_surname":"Theresa", "city":"Calcutta"}]
2024-11-05 11:30:22,097 - INFO - Formatted contact_data: [{ "contact_name":"Para", "contact_surname":"Cetamol", "city":"Frankfurt am Oder", "cp": 3934}]
2024-11-05 11:30:22,097 - INFO - Formatted contact_data: [{ "contact_name":"John", "contact_surname":"Krasinski", "city":"New York", "cp": "1203"}]
2024-11-05 11:30:22,098 - INFO - Formatted contact_data: [{ "contact_name":"Jennifer", "contact_surname":"Lopez", "city":"Esplugues de Llobregat"}]
2024-11-05 11:30:22,098 - INFO - Formatted contact_data: [{ "contact_name":"Liav", "contact_surname": "Ichenbaum", "city":"Tel Aviv"}]
2024-11-05 11:30:22,098 - INFO - Formatted contact_data: [{ "contact_name":"Curtis", "contact_surname":"Jackson", "city":"Chicago", "cp": "12345"}]
2024-11-05 11:30:22,098 - INFO - Formatted contact_data: [{ "contact_name":"Anthony", "contact_surname":"Pap", "city":"Barcelona", "cp": 8023}]
2024-11-05 11:30:22,099 - INFO - Formatted contact_data: [{ "contact_name":"John", "contact_surname":"Krasinski", "city":"New York", "cp": "1203"}]
2024-11-05 11:30:22,099 - INFO - Formatted contact_data: [{ "contact_name":"Liav", "contact_surname": "Ichenbaum", "city":"Tel Aviv"}
2024-11-05 11:30:22,099 - WARNING - Unexpected structure in contact data: [{ "contact_name":"Liav", "contact_surname": "Ichenbaum", "city":"Tel Aviv"}. Error: Expecting ',' delimiter: line 1 column 77 (char 76). Using 'John Doe'.
2024-11-05 11:30:22,099 - INFO - Formatted contact_data: [{ "contact_name":"Jennifer", "contact_surname":"Lopez", "city":"Esplugues de Llobregat"}]
2024-11-05 11:30:22,100 - INFO - Formatted contact_data: [{ "contact_name":"Curtis", "contact_surname":"Jackson", "city":"Chicago", "cp": "12345"}]
2024-11-05 11:30:22,100 - INFO - Successfully created contact_full_name column.
2024-11-05 11:30:22,101 - INFO - Saving DataFrame to /Users/pedro/Library/CloudStorage/Dropbox/PROYECTOS/others/data-engineering-test/output/contact_fullname.csv
2024-11-05 11:30:22,104 - INFO - DataFrame successfully saved to /Users/pedro/Library/CloudStorage/Dropbox/PROYECTOS/others/data-engineering-test/output/contact_fullname.csv
2024-11-05 11:30:22,104 - INFO - File /Users/pedro/Library/CloudStorage/Dropbox/PROYECTOS/others/data-engineering-test/output/contact_fullname.csv was created successfully.

$~$

modifying the function to get more robust solution

$~$

In [8]:
import pandas as pd
import json
import os
import logging
import re

# Configure logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

def load_orders(file_path, delimiter=';'):
    """Loads order data from a CSV file."""
    try:
        df = pd.read_csv(file_path, delimiter=delimiter)
        logging.info(f"Loaded {len(df)} rows from {file_path}")
        return df
    except FileNotFoundError:
        logging.error(f"Error: The file {file_path} was not found.")
        return pd.DataFrame()  # Return an empty DataFrame if the file is missing

def fix_contact_data_format(contact_data):
    """Intenta corregir y validar el formato de contact_data de manera más detallada."""
    if pd.isna(contact_data):
        return None

    # Reemplazar comillas simples por dobles y asegurarse de que todas las claves estén en comillas dobles
    contact_data = re.sub(r"([{\[,]\s*)(\w+)(\s*:\s*)", r'\1"\2"\3', contact_data.replace("'", '"'))

    # Añadir comillas a los valores si faltan y no son numéricos o booleanos
    contact_data = re.sub(r":\s*([a-zA-Z_]+)([,\]}\s])", r': "\1"\2', contact_data)

    # Asegurarse de que el JSON esté entre corchetes
    if not contact_data.startswith('['):
        contact_data = f'[{contact_data}]'
    
    # Corregir problemas comunes de formato como objetos JSON mal concatenados
    contact_data = re.sub(r'}\s*,\s*{', '},{', contact_data)
    
    try:
        json.loads(contact_data)  # Verificar si el formato JSON es correcto ahora
        return contact_data
    except json.JSONDecodeError as e:
        logging.warning(f"Error en formato de contact_data ({contact_data}): {e}. Usando 'Unknown, UNK00'")
        return None

def get_full_name(contact_data):
    """Extracts full name from contact data or returns 'John Doe' if incomplete."""
    contact_data = fix_contact_data_format(contact_data)
    if contact_data is None:
        return "John Doe"
    
    try:
        contact_info = json.loads(contact_data)[0]  # Procesa como lista JSON
        first_name = contact_info.get("contact_name", "").strip()
        last_name = contact_info.get("contact_surname", "").strip()
        
        # Si falta nombre o apellido, devuelve "John Doe"
        if not first_name or not last_name:
            return "John Doe"
        return f"{first_name} {last_name}"
    except (json.JSONDecodeError, IndexError, TypeError, KeyError) as e:
        logging.warning(f"Unexpected structure in contact data: {contact_data}. Error: {e}. Using 'John Doe'.")
        return "John Doe"

def create_contact_fullname_df(df):
    """Creates a DataFrame with order_id and contact_full_name."""
    if df.empty:
        logging.warning("The DataFrame is empty. No contact full names to process.")
        return pd.DataFrame(columns=['order_id', 'contact_full_name'])

    # Aplica la función para crear la columna contact_full_name
    df['contact_full_name'] = df['contact_data'].apply(get_full_name)
    logging.info("Successfully created contact_full_name column.")
    return df[['order_id', 'contact_full_name']]

def save_contact_fullname_df(df, output_path):
    """Saves the contact full name DataFrame to a CSV file."""
    if df.empty:
        logging.warning("The DataFrame is empty. Nothing to save.")
        return

    os.makedirs(os.path.dirname(output_path), exist_ok=True)
    df.to_csv(output_path, index=False)
    logging.info(f"DataFrame successfully saved to {output_path}")
    
    # Confirmación final para verificar si el archivo existe después de guardarlo
    if os.path.exists(output_path):
        logging.info(f"File {output_path} was created successfully.")
    else:
        logging.error(f"File {output_path} was not created.")

# Ejemplo de uso
if __name__ == "__main__":
    # Cargar pedidos
    orders_df = load_orders('../data/orders.csv')
    
    # Verifica si el DataFrame se cargó correctamente antes de continuar
    if not orders_df.empty:
        # Procesa nombres completos de contacto
        contact_fullname_df = create_contact_fullname_df(orders_df)
        
        # Guarda el DataFrame resultante
        save_contact_fullname_df(contact_fullname_df, '../output/contact_fullname.csv')
    else:
        logging.error("No data loaded. Exiting.")

2024-11-05 11:30:22,114 - INFO - Loaded 62 rows from ../data/orders.csv
2024-11-05 11:30:22,115 - WARNING - Error en formato de contact_data ([{ "contact_name":"Liav", "contact_surname": "Ichenbaum", "city":"Tel Aviv"}): Expecting ',' delimiter: line 1 column 77 (char 76). Usando 'Unknown, UNK00'
2024-11-05 11:30:22,116 - INFO - Successfully created contact_full_name column.
2024-11-05 11:30:22,117 - INFO - DataFrame successfully saved to ../output/contact_fullname.csv
2024-11-05 11:30:22,118 - INFO - File ../output/contact_fullname.csv was created successfully.

## Test 3

In [9]:
import pandas as pd
import json
import os
import logging
import re

# Configuración del logging
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

def load_orders(file_path, delimiter=';'):
    """Carga los datos de órdenes desde un archivo CSV."""
    try:
        df = pd.read_csv(file_path, delimiter=delimiter)
        logging.info(f"Cargadas {len(df)} filas desde {file_path}")
        return df
    except FileNotFoundError:
        logging.error(f"Error: El archivo {file_path} no fue encontrado.")
        return pd.DataFrame()

def fix_contact_data_format(contact_data):
    """Intenta corregir problemas de formato conocidos en las cadenas de contact_data."""
    if pd.isna(contact_data) or not isinstance(contact_data, str):
        logging.debug("El valor de contact_data es NaN o no es una cadena, usando valor predeterminado.")
        return '[{"city": "Unknown", "cp": "UNK00"}]'
    
    logging.debug(f"Formato original de contact_data: {contact_data}")
    
    # Normalización inicial: agregar comillas y llaves donde falten
    contact_data = re.sub(r'([{,])\s*([a-zA-Z_]+)\s*:', r'\1 "\2":', contact_data)
    contact_data = contact_data.replace("'", '"').strip()
    logging.debug(f"Formato después de la normalización inicial: {contact_data}")
    
    # Eliminar caracteres extras al final que pueden estar generando errores
    if contact_data.endswith(']}'):
        contact_data = contact_data[:-1]
    elif contact_data.endswith('}]}'):
        contact_data = contact_data[:-2] + "}]"
    logging.debug(f"Formato después de limpiar caracteres extra: {contact_data}")

    # Asegurarse que empieza con "[" y termina con "]" para que sea una lista JSON
    if not contact_data.startswith('['):
        contact_data = f"[{contact_data}"
    if not contact_data.endswith(']'):
        contact_data += ']'
    
    # Validación de la estructura de JSON
    try:
        json.loads(contact_data)
    except json.JSONDecodeError as e:
        logging.warning(f"Error en el formato de contact_data tras la normalización: {contact_data}. Error: {e}")
        contact_data = '[{"city": "Unknown", "cp": "UNK00"}]'
    
    logging.debug(f"Formato final de contact_data: {contact_data}")
    return contact_data

def get_contact_address(contact_data):
    """Extrae la dirección de la ciudad y el código postal o devuelve valores predeterminados si faltan."""
    contact_data = fix_contact_data_format(contact_data)
    if contact_data is None:
        logging.debug("contact_data es None, devolviendo 'Unknown, UNK00'")
        return "Unknown, UNK00"
    
    try:
        contact_info = json.loads(contact_data)[0]
        city = contact_info.get("city", "Unknown").strip() if isinstance(contact_info.get("city"), str) else "Unknown"
        postal_code = contact_info.get("cp", "UNK00").strip() if isinstance(contact_info.get("cp"), str) else "UNK00"
        logging.debug(f"Extrayendo contact_address: {city}, {postal_code}")
        return f"{city}, {postal_code}"
    except (json.JSONDecodeError, IndexError, TypeError, KeyError) as e:
        logging.warning(f"Error persistente en formato de contact_data ({contact_data}): {e}. Usando 'Unknown, UNK00'")
        return "Unknown, UNK00"

def create_contact_address_df(df):
    """Crea un DataFrame con order_id y contact_address."""
    if df.empty:
        logging.warning("El DataFrame está vacío. No hay nombres de contacto para procesar.")
        return pd.DataFrame(columns=['order_id', 'contact_address'])
    
    logging.debug("Iniciando creación de columna contact_address a partir de contact_data.")
    df['contact_address'] = df['contact_data'].apply(get_contact_address)
    logging.info("Columna contact_address creada exitosamente.")
    return df[['order_id', 'contact_address']]

def save_contact_address_df(df, output_path):
    """Guarda el DataFrame de dirección de contacto en un archivo CSV."""
    if df.empty:
        logging.warning("El DataFrame está vacío. No hay nada que guardar.")
        return
    absolute_path = os.path.abspath(output_path)
    logging.info(f"Guardando DataFrame en {absolute_path}")
    output_dir = os.path.dirname(absolute_path)
    if not os.path.exists(output_dir):
        os.makedirs(output_dir)
    df.to_csv(absolute_path, index=False)
    logging.info(f"DataFrame guardado exitosamente en {absolute_path}")
    if os.path.exists(absolute_path):
        logging.info(f"Archivo {absolute_path} creado exitosamente.")
    else:
        logging.error(f"El archivo {absolute_path} no fue creado.")

# Ejecución del proceso
input_path = '../data/orders.csv'
output_path = '../output/contact_address.csv'

orders_df = load_orders(input_path)
if not orders_df.empty:
    contact_address_df = create_contact_address_df(orders_df)
    save_contact_address_df(contact_address_df, output_path)
else:
    logging.error("No se cargaron datos. Saliendo.")

2024-11-05 11:30:22,128 - INFO - Cargadas 62 filas desde ../data/orders.csv
2024-11-05 11:30:22,130 - INFO - Columna contact_address creada exitosamente.
2024-11-05 11:30:22,130 - INFO - Guardando DataFrame en /Users/pedro/Library/CloudStorage/Dropbox/PROYECTOS/others/data-engineering-test/output/contact_address.csv
2024-11-05 11:30:22,132 - INFO - DataFrame guardado exitosamente en /Users/pedro/Library/CloudStorage/Dropbox/PROYECTOS/others/data-engineering-test/output/contact_address.csv
2024-11-05 11:30:22,132 - INFO - Archivo /Users/pedro/Library/CloudStorage/Dropbox/PROYECTOS/others/data-engineering-test/output/contact_address.csv creado exitosamente.

## TASK 4

In [10]:
import pandas as pd
import json

# Cargar el archivo JSON de facturación
with open('../data/invoicing_data.json', 'r') as f:
    invoicing_data = json.load(f)["data"]["invoices"]

# Convertir datos de facturación a DataFrame y calcular el valor neto en euros
invoicing_df = pd.DataFrame(invoicing_data)
invoicing_df['grossValue'] = pd.to_numeric(invoicing_df['grossValue'])
invoicing_df['vat'] = pd.to_numeric(invoicing_df['vat'])
invoicing_df['net_invoiced_value_euros'] = invoicing_df['grossValue'] * (1 - invoicing_df['vat'] / 100) / 100

# Cargar el archivo CSV de órdenes
orders_df = pd.read_csv('../data/orders.csv', delimiter=';')

# Convertir `salesowners` a listas de nombres
orders_df['salesowners'] = orders_df['salesowners'].apply(lambda x: x.split(', ') if isinstance(x, str) else [])

# Unir los DataFrames por `order_id` y `orderId`
merged_df = orders_df.merge(
    invoicing_df[['orderId', 'net_invoiced_value_euros']], 
    left_on='order_id', 
    right_on='orderId', 
    how='left'
)

# Definir las tasas de comisión para cada posición de propietario
commission_rates = {
    "main_owner": 0.06,
    "co_owner_1": 0.025,
    "co_owner_2": 0.0095
}

# Inicializar un diccionario para acumular comisiones por cada propietario
commission_dict = {}

# Calcular las comisiones para cada orden
for _, row in merged_df.iterrows():
    salesowners = row['salesowners']
    net_value = row['net_invoiced_value_euros']
    
    # Comprobar que el valor neto no sea NaN
    if pd.notna(net_value):
        # Comisiones para el propietario principal
        if len(salesowners) > 0:
            main_owner = salesowners[0]
            main_commission = net_value * commission_rates["main_owner"]
            commission_dict[main_owner] = commission_dict.get(main_owner, 0) + main_commission

        # Comisiones para el co-propietario 1
        if len(salesowners) > 1:
            co_owner_1 = salesowners[1]
            co_owner_1_commission = net_value * commission_rates["co_owner_1"]
            commission_dict[co_owner_1] = commission_dict.get(co_owner_1, 0) + co_owner_1_commission

        # Comisiones para el co-propietario 2
        if len(salesowners) > 2:
            co_owner_2 = salesowners[2]
            co_owner_2_commission = net_value * commission_rates["co_owner_2"]
            commission_dict[co_owner_2] = commission_dict.get(co_owner_2, 0) + co_owner_2_commission

# Convertir el diccionario de comisiones a DataFrame y ordenar
commission_df = pd.DataFrame(list(commission_dict.items()), columns=['sales_owner', 'total_commission'])
commission_df = commission_df.sort_values(by='total_commission', ascending=False).reset_index(drop=True)

# Redondear la columna de comisión total a dos decimales
commission_df['total_commission'] = commission_df['total_commission'].round(2)

# Mostrar el DataFrame resultante
print("\nSales Owner Commissions:")
display(commission_df)

Sales Owner Commissions:

          sales_owner  total_commission
0       Leonard Cohen            629.28
1     David Henderson            465.34
2      Luke Skywalker            366.54
3        Yuri Gagarin            273.49
4        David Goliat            250.32
5      Ammy Winehouse            201.72
6   Marianov Merschik            188.61
7         Chris Pratt            112.90
8     Vladimir Chukov             72.83
9         Marie Curie             67.41
10        Leon Leonov             57.31
11       Markus Söder             21.92

In [11]:
import pandas as pd
import json
import logging
import os

# Configuración del logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Definir las tasas de comisión para cada posición de propietario
commission_rates = {
    "main_owner": 0.06,
    "co_owner_1": 0.025,
    "co_owner_2": 0.0095
}

def load_invoicing_data(filepath):
    """Carga los datos de facturación desde un archivo JSON."""
    if not os.path.exists(filepath):
        logging.error(f"File {filepath} not found.")
        return pd.DataFrame()
    
    try:
        with open(filepath, 'r') as f:
            invoicing_data = json.load(f).get("data", {}).get("invoices", [])
        invoicing_df = pd.DataFrame(invoicing_data)
        logging.info(f"Loaded invoicing data with {len(invoicing_df)} rows.")
        return invoicing_df
    except json.JSONDecodeError as e:
        logging.error(f"Error loading JSON data: {e}")
        return pd.DataFrame()

def preprocess_invoicing_data(invoicing_df):
    """Convierte valores en centavos a euros y calcula el valor neto."""
    try:
        invoicing_df['grossValue'] = pd.to_numeric(invoicing_df['grossValue'])
        invoicing_df['vat'] = pd.to_numeric(invoicing_df['vat'])
        invoicing_df['net_invoiced_value_euros'] = invoicing_df['grossValue'] * (1 - invoicing_df['vat'] / 100) / 100
        logging.info("Processed invoicing data with net values in euros.")
        return invoicing_df[['orderId', 'net_invoiced_value_euros']]
    except KeyError as e:
        logging.error(f"Missing expected column in invoicing data: {e}")
        return pd.DataFrame()

def load_orders_data(filepath):
    """Carga los datos de órdenes desde un archivo CSV y convierte `salesowners` a listas."""
    if not os.path.exists(filepath):
        logging.error(f"File {filepath} not found.")
        return pd.DataFrame()
    
    try:
        orders_df = pd.read_csv(filepath, delimiter=';')
        orders_df['salesowners'] = orders_df['salesowners'].apply(lambda x: x.split(', ') if isinstance(x, str) else [])
        logging.info(f"Loaded orders data with {len(orders_df)} rows.")
        return orders_df
    except pd.errors.ParserError as e:
        logging.error(f"Error loading CSV data: {e}")
        return pd.DataFrame()

def calculate_commissions(merged_df):
    """Calcula las comisiones para cada propietario según las tasas definidas."""
    commission_dict = {}
    
    for _, row in merged_df.iterrows():
        salesowners = row['salesowners']
        net_value = row['net_invoiced_value_euros']
        
        if pd.notna(net_value):
            if len(salesowners) > 0:
                main_owner = salesowners[0]
                commission_dict[main_owner] = commission_dict.get(main_owner, 0) + net_value * commission_rates["main_owner"]
            
            if len(salesowners) > 1:
                co_owner_1 = salesowners[1]
                commission_dict[co_owner_1] = commission_dict.get(co_owner_1, 0) + net_value * commission_rates["co_owner_1"]
                
            if len(salesowners) > 2:
                co_owner_2 = salesowners[2]
                commission_dict[co_owner_2] = commission_dict.get(co_owner_2, 0) + net_value * commission_rates["co_owner_2"]
    
    return pd.DataFrame(list(commission_dict.items()), columns=['sales_owner', 'total_commission'])

def main():
    # Rutas de archivos
    invoicing_filepath = '../data/invoicing_data.json'
    orders_filepath = '../data/orders.csv'
    
    # Cargar y procesar datos de facturación
    invoicing_df = load_invoicing_data(invoicing_filepath)
    invoicing_df = preprocess_invoicing_data(invoicing_df)
    
    # Cargar datos de órdenes
    orders_df = load_orders_data(orders_filepath)
    
    if invoicing_df.empty or orders_df.empty:
        logging.error("One or more required datasets are empty. Exiting.")
        return
    
    # Unir los DataFrames por `order_id` y `orderId`
    merged_df = orders_df.merge(invoicing_df, left_on='order_id', right_on='orderId', how='left')
    logging.info("Merged orders and invoicing data.")
    
    # Calcular las comisiones y ordenar por total en orden descendente
    commission_df = calculate_commissions(merged_df)
    commission_df = commission_df.sort_values(by='total_commission', ascending=False).reset_index(drop=True)
    commission_df['total_commission'] = commission_df['total_commission'].round(2)
    
    # Mostrar el DataFrame resultante
    logging.info("Sales Owner Commissions:")
    print(commission_df)

# Ejecución principal
if __name__ == "__main__":
    main()

2024-11-05 11:30:22,161 - INFO - Loaded invoicing data with 12 rows.
2024-11-05 11:30:22,162 - INFO - Processed invoicing data with net values in euros.
2024-11-05 11:30:22,165 - INFO - Loaded orders data with 62 rows.
2024-11-05 11:30:22,166 - INFO - Merged orders and invoicing data.
2024-11-05 11:30:22,210 - INFO - Sales Owner Commissions:

          sales_owner  total_commission
0       Leonard Cohen            629.28
1     David Henderson            465.34
2      Luke Skywalker            366.54
3        Yuri Gagarin            273.49
4        David Goliat            250.32
5      Ammy Winehouse            201.72
6   Marianov Merschik            188.61
7         Chris Pratt            112.90
8     Vladimir Chukov             72.83
9         Marie Curie             67.41
10        Leon Leonov             57.31
11       Markus Söder             21.92

## Test 5 DataFrame of Companies with Sales Owners

In [92]:
# Cargar los datos
orders_filepath = '../data/orders.csv'

# Cargar el archivo CSV de órdenes
orders_df = pd.read_csv(orders_filepath, delimiter=';')

# Crear un DataFrame raw con company_id, company_name y salesowners
raw_df = orders_df[['company_id', 'company_name', 'salesowners']].copy()

# Normalización de nombres de las compañías
def normalize_company_name(name):
    if pd.isna(name):
        return ""
    # Convertir a minúsculas
    name = name.lower()
    # Eliminar sufijos comunes y caracteres no deseados
    name = re.sub(r'\b(co|inc|ltd|gmbh|c\.o|limited|corporation|s\.a\.r\.l)\b', '', name)
    name = re.sub(r'[^\w\s]', '', name)  # Eliminar puntuaciones
    name = re.sub(r'\s+', ' ', name).strip()  # Eliminar espacios adicionales
    sorted_words = ' '.join(sorted(name.split()))
    return sorted_words

# Aplicar normalización a company_name
raw_df['normalized_company_name'] = raw_df['company_name'].apply(normalize_company_name)

In [93]:
# show raw_df['normalized_company_name'] value counts and order bn company name
raw_df['normalized_company_name'].value_counts().sort_index().to_clipboard()

# try it using lammatizer

In [35]:
import re
import nltk
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from scipy.spatial.distance import pdist, squareform
import pandas as pd

# Descargar datos de WordNet si no se han descargado
nltk.download('wordnet')
nltk.download('omw-1.4')

# Inicializar lematizador de WordNet
lemmatizer = WordNetLemmatizer()

# Función para normalizar el nombre de la compañía
def normalize_company_name(name):
    """Lematiza, limpia y normaliza el nombre de una compañía."""
    if pd.isna(name):
        return ""
    
    # Convertir a minúsculas
    name = name.lower()
    
    # Eliminar sufijos comunes y caracteres no deseados
    name = re.sub(r'\b(co|inc|ltd|gmbh|c\.o|limited|corporation|s\.a\.r\.l)\b', '', name)
    name = re.sub(r'[^\w\s]', '', name)  # Eliminar puntuación
    name = re.sub(r'\s+', ' ', name).strip()  # Eliminar espacios adicionales
    
    # Dividir en palabras, ordenar alfabéticamente y aplicar lematización
    words = sorted(name.split())
    lemmatized_words = [lemmatizer.lemmatize(word, pos='n') for word in words]  # Lematizar como sustantivos
    normalized_name = ' '.join(lemmatized_words)
    
    return normalized_name

# Cargar y procesar datos
def load_and_process_data(filepath):
    """Carga y procesa los datos del archivo CSV de órdenes."""
    orders_df = pd.read_csv(filepath, delimiter=';')
    raw_df = orders_df[['company_id', 'company_name', 'salesowners']].copy()
    raw_df['normalized_company_name'] = raw_df['company_name'].apply(normalize_company_name)
    return raw_df

# Crear matriz de similitud Jaccard
def compute_jaccard_similarity(df, threshold=0.7):
    """Computa la similitud de Jaccard y asigna grupos de similitud."""
    count_vectorizer = CountVectorizer(analyzer='word', binary=True)
    count_matrix = count_vectorizer.fit_transform(df['normalized_company_name'])
    
    # Calcular matriz de distancias Jaccard y convertir a similitud
    jaccard_distances = pdist(count_matrix.toarray(), metric='jaccard')
    jaccard_sim_matrix = 1 - squareform(jaccard_distances)
    
    # Asignar grupos de similitud
    df['similarity_group'] = None
    group_counter = 0

    for i in range(len(jaccard_sim_matrix)):
        if df.loc[i, 'similarity_group'] is None:
            group_counter += 1
            df.loc[i, 'similarity_group'] = group_counter
        for j in range(i + 1, len(jaccard_sim_matrix)):
            if jaccard_sim_matrix[i, j] >= threshold:
                df.loc[j, 'similarity_group'] = df.loc[i, 'similarity_group']
    
    return df

# Ejecutar el procesamiento
orders_filepath = '../data/orders.csv'
raw_df = load_and_process_data(orders_filepath)
processed_df = compute_jaccard_similarity(raw_df)

# Mostrar resultados
processed_df[['normalized_company_name', 'similarity_group']].sort_values(by='normalized_company_name')

[nltk_data] Downloading package wordnet to /Users/pedro/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/pedro/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

   normalized_company_name similarity_group
11             berry fresh                9
39          choice healthy               34
30            eats healthy               26
12            express meat               10
22         express seafood               19
..                     ...              ...
55        seafood supplier                3
14        unlimited veggie               12
53                  veggie                2
1                   veggie                2
42                  veggie                2

[62 rows x 2 columns]

In [36]:
processed_df

,company_id,company_name,salesowners,normalized_company_name,similarity_group
0,1e2b47e6-499e-41c6-91d3-09d12dddfbbd,Fresh Fruits Co,"Leonard Cohen, Luke Skywalker, Ammy Winehouse",fresh fruit,1
1,0f05a8f1-2bdf-4be7-8c82-4c9b58f04898,Veggies Inc,"Luke Skywalker, David Goliat, Leon Leonov",veggie,2
2,1e2b47e6-499e-41c6-91d3-09d12dddfbbd,Fresh Fruits c.o,Luke Skywalker,fresh fruit,1
3,1c4b0b50-1d5d-463a-b56e-1a6fd3aeb7d6,Seafood Supplier,"David Goliat, Leonard Cohen",seafood supplier,3
4,34538e39-cd2e-4641-8d24-3c94146e6f16,Meat Packers Ltd,"Chris Pratt, David Henderson, Marianov Merschi...",meat packer,4
...,...,...,...,...,...
57,5f0bdbdf-1d84-4c23-957c-8bb8c0ddc89d,Tropical Fruits Ltd,"Yuri Gagarin, David Goliat",fruit tropical,7
58,acdb6f30-764f-404e-8b8e-7e7e3e6fa1a9,Organic Farms,"Leon Leonov, Chris Pratt",farm organic,6
59,2e90f2b1-d237-47a6-96e8-6d01c0d78c3e,Seafood Supplier GmbH,"Ammy Winehouse, Leonard Cohen",seafood supplier,3
60,fa14c3ed-3c48-49f4-bd69-4d7f5b5f4b1b,Green Veg Co,"Luke Skywalker, Chris Pratt",green veg,5
61,1e2b47e6-499e-41c6-91d3-09d12dddfbbd,Fresh Fruits Co,"Leonard Cohen, Ammy Winehouse",fresh fruit,1

In [38]:
# Agrupamos por similarity_group para consolidar empresas duplicadas
grouped_df = raw_df.groupby(['similarity_group']).agg({
    'company_id': 'first',  # Escogemos un ID representativo del grupo
    'normalized_company_name': 'first',  # Usamos el nombre normalizado como nombre representativo
    'salesowners': lambda x: sorted(set(', '.join(x).split(', ')))  # Combina, deduplica y ordena vendedores
}).reset_index()

# Convertimos la lista de salesowners en una cadena separada por comas y ordenada alfabéticamente
grouped_df['list_salesowners'] = grouped_df['salesowners'].apply(lambda x: ', '.join(x))

# Renombramos 'normalized_company_name' a 'company_name' para el DataFrame final
df_3 = grouped_df[['company_id', 'normalized_company_name', 'list_salesowners']].rename(columns={'normalized_company_name': 'company_name'})

# Mostrar el resultado final
df_3.sort_values(by='company_name')

,company_id,company_name,list_salesowners
8,4a98d9ec-65f6-438f-9a0c-0d9e1a6f7c65,berry fresh,"Ammy Winehouse, Leonard Cohen"
33,d66c0c95-1f86-4d55-9245-bfa98c0f8dcb,choice healthy,"Ammy Winehouse, Chris Pratt, Leon Leonov"
25,0d09ae2b-d9a5-4d67-bb97-963be9379b4e,eats healthy,"Ammy Winehouse, Yuri Gagarin"
9,f3b70f8d-bb74-4d96-b1f2-88e5c0c68b14,express meat,"Chris Pratt, Marie Curie, Yuri Gagarin"
18,a32972e9-d9ad-4180-9b79-4d29a7d22e10,express seafood,"Leonard Cohen, Yuri Gagarin"
13,5c17d142-4b21-4293-8a34-8dcd2bc24f82,farm fresh,"Ammy Winehouse, Chris Pratt, David Goliat, Leo..."
26,4a7561b1-1de1-420a-93ed-2c12a5bbd1ab,farm global,"David Goliat, Leonard Cohen"
16,1f06b236-f6b5-4f48-8c1c-7b55b5c7d6f7,farm green,"Ammy Winehouse, Leon Leonov"
5,acdb6f30-764f-404e-8b8e-7e7e3e6fa1a9,farm organic,"Chris Pratt, David Henderson, Leon Leonov, Leo..."
32,6cbfd9da-14d3-4a56-b928-3a1e2c71ef83,farm tropical,"David Goliat, Leonard Cohen"
24,8347edb3-c4e5-4fc1-8e0c-1fcf9f0d02b9,food organic,"Chris Pratt, Leon Leonov, Leonard Cohen"
0,1e2b47e6-499e-41c6-91d3-09d12dddfbbd,fresh fruit,"Ammy Winehouse, David Henderson, Leon Leonov, ..."
10,83df789a-b30c-4a1b-8e67-1f512bfa20c7,fresh tropical,"Ammy Winehouse, David Henderson, Leonard Cohen"
34,1b21f4a3-22d2-43f2-ae3f-e254d282d9e0,fresh veg,"David Henderson, Leonard Cohen"
21,f31b4d26-5083-4b7a-bef9-3f89c7c95758,fresh veggie,"Marie Curie, Yuri Gagarin"
22,063a7dc7-b93a-4f38-b7f0-0e30b5b217ac,fruit king,"David Goliat, Leon Leonov"
28,9851fa89-7b7a-4ed5-89f7-65c20599e0d2,fruit market,"Ammy Winehouse, David Henderson, Leonard Cohen"
6,5f0bdbdf-1d84-4c23-957c-8bb8c0ddc89d,fruit tropical,"David Goliat, David Henderson, Yuri Gagarin"
15,6d3f48b2-4e3c-49d5-b437-735d537bb2a6,fruit veggie,"Chris Pratt, Yuri Gagarin"
12,d4e31b02-ea50-46b7-a8a1-43fdbb06e3fa,global seafood,"David Henderson, Leonard Cohen, Marie Curie, Y..."
29,c672f19b-f08b-4e11-b0f5-791ea8273d85,global veggie,"Chris Pratt, Yuri Gagarin"
14,2b42dcb7-bc74-4e56-93f8-7612d5061d5f,green healthy,"Ammy Winehouse, Leonard Cohen, Marie Curie"
31,f712dc3d-4681-4ec6-9b76-bf47b4ccf5b2,green organic,"Chris Pratt, Leon Leonov"
4,fa14c3ed-3c48-49f4-bd69-4d7f5b5f4b1b,green veg,"Ammy Winehouse, Chris Pratt, David Henderson, ..."
20,012f20c6-00d5-4f45-999f-12e7639db623,green world,"Chris Pratt, David Goliat"
23,7f80fdd9-1c1a-4ad4-9348-19e6b2b44bde,haven veggie,"Ammy Winehouse, Chris Pratt, Leonard Cohen"
19,9e25a3d7-46b8-4c9d-b805-2f6c3be6f5a0,healthy organic,"Ammy Winehouse, Leon Leonov, Marie Curie"
7,27c59f76-5d26-4b82-a89b-59f8dfd2e9a7,healthy snack,"Ammy Winehouse, Chris Pratt, Luke Skywalker, M..."
3,34538e39-cd2e-4641-8d24-3c94146e6f16,meat packer,"Chris Pratt, David Henderson, Leon Leonov, Mar..."
30,0b8755d4-3d28-4039-b9a7-b30cb5ff02ea,network seafood,"Ammy Winehouse, David Goliat, Leon Leonov"
17,7d4b212e-29e5-4f2a-9b28-745a3c7f0b60,organic veggie,"Ammy Winehouse, David Henderson, Leonard Cohen"
27,4c0e716f-c8b1-4ad5-b612-92f5a1d6be79,partner veggie,"Chris Pratt, Leon Leonov"
2,1c4b0b50-1d5d-463a-b56e-1a6fd3aeb7d6,seafood supplier,"Ammy Winehouse, David Goliat, Leonard Cohen, M..."
11,9b31b19f-69a2-4aeb-8f6e-f4b8d2f9c12a,unlimited veggie,"Ammy Winehouse, Leon Leonov"
1,0f05a8f1-2bdf-4be7-8c82-4c9b58f04898,veggie,"David Goliat, Leon Leonov, Leonard Cohen, Luke..."

In [41]:
#print dataframe
df_3

,company_id,company_name,list_salesowners
0,1e2b47e6-499e-41c6-91d3-09d12dddfbbd,fresh fruit,"Ammy Winehouse, David Henderson, Leon Leonov, ..."
1,0f05a8f1-2bdf-4be7-8c82-4c9b58f04898,veggie,"David Goliat, Leon Leonov, Leonard Cohen, Luke..."
2,1c4b0b50-1d5d-463a-b56e-1a6fd3aeb7d6,seafood supplier,"Ammy Winehouse, David Goliat, Leonard Cohen, M..."
3,34538e39-cd2e-4641-8d24-3c94146e6f16,meat packer,"Chris Pratt, David Henderson, Leon Leonov, Mar..."
4,fa14c3ed-3c48-49f4-bd69-4d7f5b5f4b1b,green veg,"Ammy Winehouse, Chris Pratt, David Henderson, ..."
5,acdb6f30-764f-404e-8b8e-7e7e3e6fa1a9,farm organic,"Chris Pratt, David Henderson, Leon Leonov, Leo..."
6,5f0bdbdf-1d84-4c23-957c-8bb8c0ddc89d,fruit tropical,"David Goliat, David Henderson, Yuri Gagarin"
7,27c59f76-5d26-4b82-a89b-59f8dfd2e9a7,healthy snack,"Ammy Winehouse, Chris Pratt, Luke Skywalker, M..."
8,4a98d9ec-65f6-438f-9a0c-0d9e1a6f7c65,berry fresh,"Ammy Winehouse, Leonard Cohen"
9,f3b70f8d-bb74-4d96-b1f2-88e5c0c68b14,express meat,"Chris Pratt, Marie Curie, Yuri Gagarin"
10,83df789a-b30c-4a1b-8e67-1f512bfa20c7,fresh tropical,"Ammy Winehouse, David Henderson, Leonard Cohen"
11,9b31b19f-69a2-4aeb-8f6e-f4b8d2f9c12a,unlimited veggie,"Ammy Winehouse, Leon Leonov"
12,d4e31b02-ea50-46b7-a8a1-43fdbb06e3fa,global seafood,"David Henderson, Leonard Cohen, Marie Curie, Y..."
13,5c17d142-4b21-4293-8a34-8dcd2bc24f82,farm fresh,"Ammy Winehouse, Chris Pratt, David Goliat, Leo..."
14,2b42dcb7-bc74-4e56-93f8-7612d5061d5f,green healthy,"Ammy Winehouse, Leonard Cohen, Marie Curie"
15,6d3f48b2-4e3c-49d5-b437-735d537bb2a6,fruit veggie,"Chris Pratt, Yuri Gagarin"
16,1f06b236-f6b5-4f48-8c1c-7b55b5c7d6f7,farm green,"Ammy Winehouse, Leon Leonov"
17,7d4b212e-29e5-4f2a-9b28-745a3c7f0b60,organic veggie,"Ammy Winehouse, David Henderson, Leonard Cohen"
18,a32972e9-d9ad-4180-9b79-4d29a7d22e10,express seafood,"Leonard Cohen, Yuri Gagarin"
19,9e25a3d7-46b8-4c9d-b805-2f6c3be6f5a0,healthy organic,"Ammy Winehouse, Leon Leonov, Marie Curie"
20,012f20c6-00d5-4f45-999f-12e7639db623,green world,"Chris Pratt, David Goliat"
21,f31b4d26-5083-4b7a-bef9-3f89c7c95758,fresh veggie,"Marie Curie, Yuri Gagarin"
22,063a7dc7-b93a-4f38-b7f0-0e30b5b217ac,fruit king,"David Goliat, Leon Leonov"
23,7f80fdd9-1c1a-4ad4-9348-19e6b2b44bde,haven veggie,"Ammy Winehouse, Chris Pratt, Leonard Cohen"
24,8347edb3-c4e5-4fc1-8e0c-1fcf9f0d02b9,food organic,"Chris Pratt, Leon Leonov, Leonard Cohen"
25,0d09ae2b-d9a5-4d67-bb97-963be9379b4e,eats healthy,"Ammy Winehouse, Yuri Gagarin"
26,4a7561b1-1de1-420a-93ed-2c12a5bbd1ab,farm global,"David Goliat, Leonard Cohen"
27,4c0e716f-c8b1-4ad5-b612-92f5a1d6be79,partner veggie,"Chris Pratt, Leon Leonov"
28,9851fa89-7b7a-4ed5-89f7-65c20599e0d2,fruit market,"Ammy Winehouse, David Henderson, Leonard Cohen"
29,c672f19b-f08b-4e11-b0f5-791ea8273d85,global veggie,"Chris Pratt, Yuri Gagarin"
30,0b8755d4-3d28-4039-b9a7-b30cb5ff02ea,network seafood,"Ammy Winehouse, David Goliat, Leon Leonov"
31,f712dc3d-4681-4ec6-9b76-bf47b4ccf5b2,green organic,"Chris Pratt, Leon Leonov"
32,6cbfd9da-14d3-4a56-b928-3a1e2c71ef83,farm tropical,"David Goliat, Leonard Cohen"
33,d66c0c95-1f86-4d55-9245-bfa98c0f8dcb,choice healthy,"Ammy Winehouse, Chris Pratt, Leon Leonov"
34,1b21f4a3-22d2-43f2-ae3f-e254d282d9e0,fresh veg,"David Henderson, Leonard Cohen"